.adder {
	margin-bottom: 1rem;
	cursor: pointer;
}
.adder header {
	font-family: 'Merriweather', 'serif';
	font-size: 1.3rem;
	font-weight: normal;
	display: flex;
	justify-content: space-between;
	letter-spacing: -0.04em;
	padding-bottom: 0.5rem;
}
.adder a {
	text-decoration: none;
	color: #6a0088;
}

.adder main {
	border-radius: 0.3rem;
	background-color: #f4f1ea;
	/* background-color: #409970; */
	padding: 0.5rem;
	display: flex;
	justify-content: left;
	align-items: center;
	line-height: 1.5em;
}
.adder:hover main {
	background-color: white;
}
.adder aside {
	font-size: 0.9rem;
}

.adder.alt header {
	font-size: 1.3rem;
	text-align: center;
	display: block;
}
.adder .adder.alt {
	text-align: center;
	justify-content: space-around;
}
.adder.alt img {
	margin: 1rem auto;
}
.adder.alt aside {
	text-align: center;
}
