#app {
	padding-bottom: 3rem;
	min-height: 100vh;
	box-sizing: border-box;
}
.light-mode body {
	background: linear-gradient(
		90deg,
		hsl(28, 100%, 88%) 0%,
		hsl(28, 100%, 94%) 20%,
		hsl(28, 100%, 93%) 90%,
		hsl(28, 100%, 91%) 100%
	);
}
#app,
.nav-collapsable,
header,
#navIcons {
	max-width: 600px;
}
#navIcons {
	min-width: 300px;
}
#app {
	width: 100%;
	margin: 0 auto;
	min-width: 300px;
	overflow-x: auto;
}
