@import './navToggleBurger.css';
@import './navIcons.css';
#nav,
#nav1 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: hsla(360, 50%, 90%, 50%);
	transition: background-color 0.15s ease-in-out;
	height: 2rem;
	line-height: 2rem;
	padding: 1rem 0.5rem;
}
#nav .history,
#nav1 .history {
	display: none; /* hide for now */
}
#nav.expanded,
#nav1.expanded {
	width: 100vw;
	height: 100vh;
}
#nav,
#nav1 {
	box-sizing: border-box;
}
#nav ul,
#nav li,
#nav1 ul,
#nav1 li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
}
#nav ul,
#nav1 ul {
	z-index: 1;
	margin-top: 2rem;
}
#nav a,
#nav1 a {
	color: hsl(360, 50%, 20%);
	padding: 0.1em 0.2em;
	display: block;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -0.07em;
}
#nav .router-link-active,
#nav .router-link:hover,
#nav1 .router-link-active,
#nav1 .router-link:hover {
	background-color: cornsilk;
	color: black;
}
#navIcons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 2rem;
	position: fixed;
	z-index: 9;
}
#navIcons button {
	border: 0;
	outline: 0;
	background: rgba(255, 255, 255, 0.5);
	transition: 0.15s background-color ease-in-out;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	margin: 0.25rem;
}
#navIcons button:hover {
	background: #fff;
}
#navIcons div button {
	margin-left: 0;
}
#nav.expanded,
#nav1.expanded {
	background-color: hsl(28, 100%, 86%, 90%);
}
.light-mode #nav.expanded,
.light-mode #nav1.expanded {
	background-color: hsl(28, 100%, 93%);
}
#nav.collapsed,
#nav1.collapsed {
	height: 0;
	max-height: 0;
	overflow: hidden;
	padding: 0;
}

#nav.collapsed li,
#nav1.collapsed li {
	opacity: 0;
}
#nav.expanded li,
#nav1.collapsed li {
	opacity: 1;
}
#navIcons {
	width: calc(100vw - 1rem);
}
#nav1 {
	text-align: right;
}
